asgiref==3.7.2
colorama==0.4.6
cv==1.0.0
cv-3==1.2.0
Django==4.2.2
django-bootstrap5==23.3
django-taggit==4.0.0
django-tinymce==3.5.0
django-tinymce4==3.0.2
numpy==1.25.0
opencv-python==4.7.0.72
Pillow==9.5.0
pypng==0.20220715.0
pyzbar==0.1.9
qrcode==7.4.2
sqlparse==0.4.4
typing_extensions==4.6.3
tzdata==2023.3
