{% extends '../base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{%block bodyblock%}

<!-- Landing Page Section -->
<div class="container-fluid px-0 mx-0 homediv">
 <div class="container col-lg-9 ">
   <div class="row">
    <div class="col-lg-6 me-3 mt-5">
        <img src="{%static 'images/register.png'%}" class="img-fluid" alt="homepicture">
    </div>
    <div class="col mb-3 ">
        <h3 >Register your account</h3><br>
        <form method="post" enctype="multipart/form-data" >
          
          {% csrf_token %}
          <!-- {{ form.as_floating }} -->
          {% bootstrap_form form layout='floating'  %}
        
           
            <div class="mt-5 mb-3">
              <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
      </form>
          <a href="{% url 'user_auth:login'%}" class="text-primary mt-3">Already registered? Login here.</a>
      
    </div>

   </div>
 </div>
</div> 
<!-- Mentioned By thousands. including -->


{%endblock%}