{% load static %}
<div class="container-fluid px-0 mx-0  ">
    <div class="container col-lg-10 py-3">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class=" text-decoration-none logo" href="/"><img class="mb-3 me-2" height="60" src="{% static 'images/logo.png'%}" >
            <!-- <img class="mb-4 " height="20" src="{% static 'images/logof.png'%}" > -->
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              
              <li class="nav-item me-3">
                <a class="nav-link {{article_page}} " href="/articles">Articles</a>
              </li>
              <li class="nav-item me-3">
                <a class="nav-link {{history_page}}" href="{% url 'records:list'%}">History</a>
              </li>
             
              <li class="nav-item me-3">
                <a class="nav-link {{medication_page}} " href="{% url 'medication:medicationlist'%}" >Medications</a>
              </li>
              {% if request.user.is_patient %}
              <li class="nav-item me-3">
                <a class="nav-link {{homepage}}" aria-current="page" href="{%url 'qrapp:qr'%}"
                  >QR</a
                >
              </li>
              {% else %}
              <li class="nav-item dropdown me-2">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Create Records
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{% url  'qrapp:qrscan' action='records'  %}">Add Health Records</a></li>
                  <li><a class="dropdown-item" href="{% url  'qrapp:qrscan' action='medicationschedule'  %}">Add Medication Schedule</a></li>
                </ul>
              </li>
              {%endif%}
           
          
            
            </ul>
            <div class="dropdown">
              <a
                class="btn btn-dark dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{user.username}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'user_auth:profile'%}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'articles:articles'%}">Your Articles</a></li>
                <li><a class="dropdown-item" href="{% url 'articles:addarticle'%}">Request Article</a></li>
                <li>
                  <a class="dropdown-item" onclick="return confirm('Are you sure to logout?')" href="{% url 'user_auth:logout'%}">Logout</a>
                </li>
              </ul>
            </div>
            {%else%}
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item me-3">
                <a class="nav-link {{homepage}}" aria-current="page" href="{% url 'user_auth:register' %}"
                  >Register</a
                >
              </li>
              <li class="nav-item me-3">
                <a class="nav-link {{article_page}} " href="{% url 'user_auth:login' %}">Signin</a>
              </li>
             
           
         

            
            </ul>
            {%endif%}
          </div>
        </div>
      </nav>
    </div>
  </div>